<% @posts.each do |post| %>
  <h3><%= link_to post.title, post_path(post) %></h3>
  <hr/>
  <p>
    <%= image_tag post.image.url %>
  </p>
  <p>
    <%= post.body %>
  </p>
  <h6><%= image_tag post.user.avatar :thumb %></h6>
  <p>
    <% if auth? %><%= link_to 'Редактировать', edit_post_path(post) %><% end %>
    <% if auth? %><%= link_to 'Удавить', post, :confirm => 'Точно?', :method => :delete %><% end %>
  </p>
  <hr />
<% end %>

<br />

<% if auth? %><%= link_to 'Создать', new_post_path %><% end %>
