<% @posts.each do |post| %>
  <h3><%= link_to post.title, post_path(post) %></h3>
  <hr/>
  <p>
    <% if post.image.file? %>
      <%= image_tag post.image.url :big %>
    <% end %>
  </p>
  <p>
    <% if !post.body.index('[---MORE---]').nil? %>
      <%= simple_format truncate(post.body, :separator => '[---MORE---]',  \
          :omission => link_to('Продолжение...', post_path(post))) %>
    <% else %>
      <%= simple_format post.body %>
    <% end %>
  </p>
  <% if post.user.avatar.file? %>
    <h6><%= image_tag post.user.avatar :thumb %></h6>
  <% end %>

  <% unless post.tag_list.empty? %>
	<p class="tags">
  	<b>Теги:</b>
  	<% post.tags.each do |tag| %>
          <%= link_to tag, tag_posts_path + '?tag=' + tag.to_s %>
        <% end %>
	</p>
<% end %>
  <p>
    <% if auth? %><%= link_to 'Редактировать', edit_post_path(post) %><% end %>
    <% if auth? %><%= link_to 'Удавить', post, :confirm => 'Точно?', :method => :delete %><% end %>
  </p>
  <hr />
<% end %>

<br />

<% if auth? %><%= link_to 'Создать', new_post_path %><% end %>
