<p id="notice"><%= notice %></p>
<h2><%= @post.title %></h2>
<hr />
<% if @post.image.file? %>
  <p><%= image_tag @post.image.url :big%> </p>
<% end %>
<p><%= smart_post_body @post, :cut => false%></p>
<% if @post.user.avatar.file? %>
<p>
  <%= image_tag @post.user.avatar.url :thumb %>
</p>
<% end %>

<% unless @post.tag_list.empty? %>
	<p class="tags">
  	<b>Теги:</b>
  	<% @post.tags.each do |tag| %>
          <%= link_to tag, tagged_posts_path + '?tag=' + tag.to_s %>
        <% end %>
	</p>
<% end %>

<div id="vk_like"></div>
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "full"});
</script>
<br/>
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 10, width: "496", attach: "*"});
</script>

<p>
  <%if auth?%><%= link_to 'Edit', edit_post_path(@post) %><% end %>
</p>