<p id="notice"><%= notice %></p>
<h2><%= @post.title %></h2>
<hr />
<p><%= image_tag @post.image.url %> </p>
<p><%= @post.body %></p>
<p>
  <%= image_tag @post.user.avatar.url :thumb %>
</p>
<p>
  <%if auth?%><%= link_to 'Edit', edit_post_path(@post) %><% end %>
</p>